<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="Paths">
		<setting label="Movie Export Path" id="moviepath" default="special://userdata/library/Movies/" type="folder"/>
		<setting label="Show Export Path" id="showpath" default="special://userdata/library/TV/" type="folder"/>
	</category>
</settings>
